# TAREA N2 ANALISIS DE DATOS CON PYTHON

para el analisis de datos seleccionamos la base de datos "adult" la cual tiene informacion relacionada a caracteristicas de los ciudadanos y si su sueldo pasa de los $50K dolares por año, nuestra idea es limpiar la base de datos para poder intentar predecir si un ciudadano pasa de los $50K dolares por año basado en sus datos del senso.

https://archive.ics.uci.edu/ml/index.php

primero importamos las librerias pandas y numpy que utilizaremos para limpiar la base de datos.

In [142]:
import numpy as np
import pandas as pd

importamos el archivo con los datos sobre el senso a ciudadanos al cual le pusimos el nombre de prueba.csv y creamos el dataset.

utilizamos la funcion data.describe() y data.info() para verificar que la base de datos esta correctamente cargada.

In [143]:
data = pd.read_csv('prueba.csv')

In [144]:
data.describe()

                 39            13          2174             0
count  32558.000000  32560.000000  32560.000000  32560.000000
mean      38.582284     10.080590   1077.615172     87.306511
std       13.640665      2.572709   7385.402999    402.966116
min       17.000000      1.000000      0.000000      0.000000
25%       28.000000      9.000000      0.000000      0.000000
50%       37.000000     10.000000      0.000000      0.000000
75%       48.000000     12.000000      0.000000      0.000000
max       90.000000     16.000000  99999.000000   4356.000000

In [145]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32558 non-null  float64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  object
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32559 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32559 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  object
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: float64(1), int64(3), object(11)
memory usage: 3.7+ MB

Agregamos una fila header para que el dataset sea interpretado como una tabla

los titulos de las columnas los sacamos de la misma pagina, estos estaban en un archivo separado que se encontraba en la misma seccion de la base de datos en la pagina.

https://archive.ics.uci.edu/ml/datasets/Adult

creamos una lista de python, asignamos los valores a la lista y luego la agregamos a el dataframe.

In [146]:
encabezado = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "valance"]
#len(encabezado) : 15

In [147]:
df = pd.read_csv("prueba.csv", names=encabezado)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,valance
0,39.0,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28.0,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [148]:
df.describe()

                age  education-num  capital-gain  capital-loss
count  32559.000000   32561.000000  32561.000000  32561.000000
mean      38.582297      10.080679   1077.648844     87.303830
std       13.640455       2.572720   7385.292085    402.960219
min       17.000000       1.000000      0.000000      0.000000
25%       28.000000       9.000000      0.000000      0.000000
50%       37.000000      10.000000      0.000000      0.000000
75%       48.000000      12.000000      0.000000      0.000000
max       90.000000      16.000000  99999.000000   4356.000000

Luego comenzamos con la limpieza de los datos, utilizamos la funcion .replace para que todos los datos con "?" se conviertan en np.nan que es un valor nulo representado en nupy.

In [149]:
# if "?" in df.values:
#     # reemplace "?" a NaN
#     df.replace("?", np.nan, inplace = True)

# if " ?" in df.values:
#     # reemplace " ?" a NaN
#     df.replace(" ?", np.nan, inplace = True)

# if " " in df.values:
#     # reemplace " ?" a NaN
#     df.replace(" ", np.nan, inplace = True)

In [150]:
df.replace('?', np.nan, inplace = True)

df.replace(' ?', np.nan, inplace = True)

df.replace(' ', np.nan, inplace = True)

In [151]:
print('?' in df.values)
print(' ?' in df.values)
print(' ' in df.values)

False
False
False

creamos una matriz de los datos nulos con la funcion df.isnull().
luego imprimimos los 10 primeros datos de la matriz la cual cuando no tiene datos faltantes es false y si tiene datos faltantes es true.

In [152]:
# buscando datos nulos

datos_faltantes = df.isnull()
datos_faltantes.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,valance
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

Creamos un ciclo for para saber cuantos datos faltantes tenemos por columna analizando su valor en la matriz de datos faltantes.

In [153]:
for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

columna: age
False    32559
True         2
Name: age, dtype: int64

columna: workclass
False    30723
True      1838
Name: workclass, dtype: int64

columna: fnlwgt
False    32559
True         2
Name: fnlwgt, dtype: int64

columna: education
False    32558
True         3
Name: education, dtype: int64

columna: education-num
False    32561
Name: education-num, dtype: int64

columna: marital-status
False    32558
True         3
Name: marital-status, dtype: int64

columna: occupation
False    30717
True      1844
Name: occupation, dtype: int64

columna: relationship
False    32558
True         3
Name: relationship, dtype: int64

columna: race
False    32560
True         1
Name: race, dtype: int64

columna: sex
False    32557
True         4
Name: sex, dtype: int64

columna: capital-gain
False    32561
Name: capital-gain, dtype: int64

columna: capital-loss
False    32561
Name: capital-loss, dtype: int64

columna: hours-per-week
False    32559
True         2
Name: hours-per-week, dtype: int64

columna: native-country
False    31978
True       583
Name: native-country, dtype: int64

columna: valance
False    32560
True         1
Name: valance, dtype: int64

Para el caso de la columna age se toma la decisión de calcular su promedio y utilizarlo en las 2 filas de los datos faltantes.

In [154]:
age_pro = df["age"].astype("float").mean(axis=0)
age_pro_r = float(round(age_pro))
print("Promedio de age:", age_pro_r)

Promedio de age: 39.0

Reemplazamos los valores nulos con el promedio de edad para la columna age.

In [155]:
df["age"].replace(np.nan, age_pro_r, inplace=True)

Verificamos cuales son todos los posibles datos que guardara la columna y su formato de presentacion para la columna workclass.

In [156]:
df["valance"].unique()

array([' <=50K', ' >50K', nan], dtype=object)

In [157]:
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', nan, ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

Se eliminaron los espacios en blanco de la izquierda de los posibles datos que puede tener workclass

In [158]:
df['workclass'] = df['workclass'].str.lstrip().values
df['workclass'].unique()

# rows_dropped_df = df.drop([np.nan])
# rows_dropped_df

KeyError: '[nan] not found in axis'

In [16]:
df.dtypes

age               float64
workclass          object
fnlwgt             object
education          object
education-num       int64
marital-status     object
occupation         object
relationship       object
race               object
sex                object
capital-gain        int64
capital-loss        int64
hours-per-week     object
native-country     object
valorant           object
dtype: object

In [17]:

# opcion eliminar filas con datos nulos
# poner el promedio en age y en marital status el valor que mas se repite
# estandaizar
# variables dummy

In [38]:
df['hours-per-week'].astype("int64")

ValueError: cannot convert float NaN to integer