# TAREA N2 ANALISIS DE DATOS CON PYTHON

primero importamos las librerias a utilizar para limpiar la base de datos
-----
pandas y numpy

In [22]:
import numpy as np
import pandas as pd

#import matplotlib.pyplot as plt

importamos el archivo con los datos y creamos el dataset

In [29]:
data = pd.read_csv('prueba.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32558 non-null  float64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  object
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32559 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32559 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  object
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: float64(1), int64(3), object(11)
memory usage: 3.7+ MB

Agregamos una fila header para que el dataset sea interpretado como una tabla

In [24]:
encabezado = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "valorant"]
#len(encabezado) : 15

In [31]:
df = pd.read_csv("prueba.csv", names=encabezado)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,valorant
0,39.0,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28.0,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [32]:
# reemplace "?" a NaN
df.replace("?", np.nan, inplace = True)

In [33]:
# buscando datos nulos

datos_faltantes = df.isnull()
datos_faltantes.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,valorant
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [34]:
for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

columna: age
False    32559
True         2
Name: age, dtype: int64

columna: workclass
False    32561
Name: workclass, dtype: int64

columna: fnlwgt
False    32561
Name: fnlwgt, dtype: int64

columna: education
False    32561
Name: education, dtype: int64

columna: education-num
False    32561
Name: education-num, dtype: int64

columna: marital-status
False    32560
True         1
Name: marital-status, dtype: int64

columna: occupation
False    32561
Name: occupation, dtype: int64

columna: relationship
False    32560
True         1
Name: relationship, dtype: int64

columna: race
False    32561
Name: race, dtype: int64

columna: sex
False    32561
Name: sex, dtype: int64

columna: capital-gain
False    32561
Name: capital-gain, dtype: int64

columna: capital-loss
False    32561
Name: capital-loss, dtype: int64

columna: hours-per-week
False    32561
Name: hours-per-week, dtype: int64

columna: native-country
False    32561
Name: native-country, dtype: int64

columna: valorant
False    32561
Name: valorant, dtype: int64