# TAREA N2 ANALISIS DE DATOS CON PYTHON

para el analisis de datos seleccionamos la base de datos "adult" la cual tiene informacion relacionada a caracteristicas de los ciudadanos y si su sueldo pasa de los $50K dolares por año, nuestra idea es limpiar la base de datos para poder intentar predecir si un ciudadano pasa de los $50K dolares por año basado en sus datos del senso.

https://archive.ics.uci.edu/ml/index.php

primero importamos las librerias pandas y numpy que utilizaremos para limpiar la base de datos.

In [222]:
import numpy as np
import pandas as pd

importamos el archivo con los datos sobre el senso a ciudadanos al cual le pusimos el nombre de prueba.csv y creamos el dataset.

utilizamos la funcion data.describe() y data.info() para verificar que la base de datos esta correctamente cargada.

In [223]:
data = pd.read_csv('prueba.csv')

In [224]:
data.describe()

                 39            13          2174             0
count  32558.000000  32560.000000  32560.000000  32560.000000
mean      38.582284     10.080590   1077.615172     87.306511
std       13.640665      2.572709   7385.402999    402.966116
min       17.000000      1.000000      0.000000      0.000000
25%       28.000000      9.000000      0.000000      0.000000
50%       37.000000     10.000000      0.000000      0.000000
75%       48.000000     12.000000      0.000000      0.000000
max       90.000000     16.000000  99999.000000   4356.000000

In [225]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32558 non-null  float64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  object
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32559 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32559 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  object
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: float64(1), int64(3), object(11)
memory usage: 3.7+ MB

Agregamos una fila header para que el dataset sea interpretado como una tabla

los titulos de las columnas los sacamos de la misma pagina, estos estaban en un archivo separado que se encontraba en la misma seccion de la base de datos en la pagina.

https://archive.ics.uci.edu/ml/datasets/Adult

https://cseweb.ucsd.edu/classes/sp15/cse190-c/reports/sp15/048.pdf

creamos una lista de python, asignamos los valores a la lista y luego la agregamos a el dataframe.

In [226]:
encabezado = ["age", "workclass", "representation-by-Census", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "valance"]
#len(encabezado) : 15

In [227]:
df = pd.read_csv("prueba.csv", names=encabezado)
df.head()

,age,workclass,representation-by-Census,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,valance
0,39.0,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28.0,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [228]:
df.describe()

                age  education-num  capital-gain  capital-loss
count  32559.000000   32561.000000  32561.000000  32561.000000
mean      38.582297      10.080679   1077.648844     87.303830
std       13.640455       2.572720   7385.292085    402.960219
min       17.000000       1.000000      0.000000      0.000000
25%       28.000000       9.000000      0.000000      0.000000
50%       37.000000      10.000000      0.000000      0.000000
75%       48.000000      12.000000      0.000000      0.000000
max       90.000000      16.000000  99999.000000   4356.000000

Luego comenzamos con la limpieza de los datos, utilizamos la funcion .replace para que todos los datos con "?" se conviertan en np.nan que es un valor nulo representado en nupy.

In [230]:
df.replace('?', np.nan, inplace = True)

df.replace(' ?', np.nan, inplace = True)

df.replace(' ', np.nan, inplace = True)

df.replace('nan', np.nan, inplace = True)

confirmamos que no existen datos de los tipos ?, nan, etc.

In [231]:
print('?' in df.values)
print(' ?' in df.values)
print(' ' in df.values)
print('nan' in df.values)

False
False
False
False

creamos una matriz de los datos nulos con la funcion df.isnull().
luego imprimimos los 10 primeros datos de la matriz la cual cuando no tiene datos faltantes es false y si tiene datos faltantes es true.

In [232]:
# buscando datos nulos

datos_faltantes = df.isnull()
datos_faltantes.head(10)

,age,workclass,representation-by-Census,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,valance
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

Creamos un ciclo for para saber cuantos datos faltantes tenemos por columna analizando su valor en la matriz de datos faltantes.

In [233]:
for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

columna: age
False    32559
True         2
Name: age, dtype: int64

columna: workclass
False    30723
True      1838
Name: workclass, dtype: int64

columna: representation-by-Census
False    32559
True         2
Name: representation-by-Census, dtype: int64

columna: education
False    32558
True         3
Name: education, dtype: int64

columna: education-num
False    32561
Name: education-num, dtype: int64

columna: marital-status
False    32558
True         3
Name: marital-status, dtype: int64

columna: occupation
False    30717
True      1844
Name: occupation, dtype: int64

columna: relationship
False    32558
True         3
Name: relationship, dtype: int64

columna: race
False    32560
True         1
Name: race, dtype: int64

columna: sex
False    32557
True         4
Name: sex, dtype: int64

columna: capital-gain
False    32561
Name: capital-gain, dtype: int64

columna: capital-loss
False    32561
Name: capital-loss, dtype: int64

columna: hours-per-week
False    32559
True         2
Name: hours-per-week, dtype: int64

columna: native-country
False    31978
True       583
Name: native-country, dtype: int64

columna: valance
False    32560
True         1
Name: valance, dtype: int64

Para el caso de la columna age se toma la decisión de calcular su promedio y utilizarlo en las 2 filas de los datos faltantes.

In [234]:
age_pro = df["age"].astype("float").mean(axis=0)
age_pro_r = float(round(age_pro))
print("Promedio de age:", age_pro_r)

Promedio de age: 39.0

Reemplazamos los valores nulos con el promedio de edad para la columna age, ademas de reemplazar por los valores mas populares para workclass, occupation y native country.
de esta manera evitamos borrar una cantidad muy grande de datos que afectarian a el analisis posterior.

In [235]:
df["age"].replace(np.nan, age_pro_r, inplace=True)

df["workclass"].replace(np.nan, "Private", inplace=True)

df["occupation"].replace(np.nan, "Prof-specialty", inplace=True)

df["native-country"].replace(np.nan, "United-States", inplace=True)

df["native-country"].value_counts()

 United-States                 29170
 Mexico                          643
United-States                    583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64

Comprobamos los datos faltantes por cada columna.

In [236]:
for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

columna: age
False    32559
True         2
Name: age, dtype: int64

columna: workclass
False    30723
True      1838
Name: workclass, dtype: int64

columna: representation-by-Census
False    32559
True         2
Name: representation-by-Census, dtype: int64

columna: education
False    32558
True         3
Name: education, dtype: int64

columna: education-num
False    32561
Name: education-num, dtype: int64

columna: marital-status
False    32558
True         3
Name: marital-status, dtype: int64

columna: occupation
False    30717
True      1844
Name: occupation, dtype: int64

columna: relationship
False    32558
True         3
Name: relationship, dtype: int64

columna: race
False    32560
True         1
Name: race, dtype: int64

columna: sex
False    32557
True         4
Name: sex, dtype: int64

columna: capital-gain
False    32561
Name: capital-gain, dtype: int64

columna: capital-loss
False    32561
Name: capital-loss, dtype: int64

columna: hours-per-week
False    32559
True         2
Name: hours-per-week, dtype: int64

columna: native-country
False    31978
True       583
Name: native-country, dtype: int64

columna: valance
False    32560
True         1
Name: valance, dtype: int64

Verificamos cuales son todos los posibles datos que guardara la columna y su formato de presentacion para la columna workclass.

In [237]:
df["valance"].unique()

array([' <=50K', ' >50K', nan], dtype=object)

In [238]:
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', 'Private', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       32561 non-null  float64
 1   workclass                 32561 non-null  object
 2   representation-by-Census  32559 non-null  object
 3   education                 32558 non-null  object
 4   education-num             32561 non-null  int64
 5   marital-status            32558 non-null  object
 6   occupation                32561 non-null  object
 7   relationship              32558 non-null  object
 8   race                      32560 non-null  object
 9   sex                       32557 non-null  object
 10  capital-gain              32561 non-null  int64
 11  capital-loss              32561 non-null  int64
 12  hours-per-week            32559 non-null  object
 13  native-country            32561 non-null  object
 14  valance                   32560 non-null  object
dtypes: float64(1), int64(3), object(11)
memory usage: 3.7+ MB

Se eliminaron los espacios en blanco de la izquierda de los posibles datos que puede tener workclass, education, marital-status, occupation, relationship, race, sex, native-country y valance

In [240]:
df['workclass'] = df['workclass'].str.lstrip().values
df["education"] = df['education'].str.lstrip().values
df['marital-status'] = df['marital-status'].str.lstrip().values
df['occupation'] = df['occupation'].str.lstrip().values
df['relationship'] = df['relationship'].str.lstrip().values
df['race'] = df['race'].str.lstrip().values
df['sex'] = df['sex'].str.lstrip().values
df['native-country'] = df['native-country'].str.lstrip().values
df['valance'] = df['valance'].str.lstrip().values

print("workclass: ", df['workclass'].unique())
print("education: ", df['education'].unique())
print("marital-status: ", df['marital-status'].unique())
print("occupation: ", df['occupation'].unique())
print("relationship: ", df['relationship'].unique())
print("race: ", df['race'].unique())
print("sex: ", df['sex'].unique())
print("native-country: ", df['native-country'].unique())
print("valance: ", df['valance'].unique())

# rows_dropped_df = df.drop([np.nan])
# rows_dropped_df

workclass:  ['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
education:  ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th' nan]
marital-status:  ['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed' nan]
occupation:  ['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' 'Protective-serv'
 'Armed-Forces' 'Priv-house-serv']
relationship:  ['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative'
 nan]
race:  ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other' nan]
sex:  ['Male' 'Female' nan]
native-country:  ['United-States' 'Cuba' 'Jamaica' 'India' 'Mexico' 'South' 'Puerto-Rico'
 'Honduras' 'England' 'Canada' 'Germany' 'Iran' 'Philippines' 'Italy'
 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador' 'Laos' 'Taiwan'
 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador' 'France'
 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
valance:  ['<=50K' '>50K' nan]

Verificamos los tipos de datos que almacena cada una de nuestras columnas.

In [241]:
df.dtypes

age                         float64
workclass                    object
representation-by-Census     object
education                    object
education-num                 int64
marital-status               object
occupation                   object
relationship                 object
race                         object
sex                          object
capital-gain                  int64
capital-loss                  int64
hours-per-week               object
native-country               object
valance                      object
dtype: object

Como eran solo dos datos faltan era una poca proporcion minima de los datos se tomo la decision de eliminar esas dos filas

In [243]:
#df['hours-per-week'].isnull()
df.dropna(subset=["hours-per-week"], axis=0, inplace=True)
df.dropna(subset=["representation-by-Census"], axis=0, inplace=True)
df.dropna(subset=["education"], axis=0, inplace=True)
df.dropna(subset=["race"], axis=0, inplace=True)
df.dropna(subset=["marital-status"], axis=0, inplace=True)
df.dropna(subset=["relationship"], axis=0, inplace=True)
df.dropna(subset=["sex"], axis=0, inplace=True)
df.dropna(subset=["valance"], axis=0, inplace=True)

Creamos la matriz de los datos faltantes.

In [244]:
datos_faltantes = df.isnull()
datos_faltantes.head(10)

,age,workclass,representation-by-Census,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,valance
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

Nuevamente buscamos la cantidad de datos faltantes por columna y comprobamos que ahora es 0 por cada columna.

In [245]:
for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

columna: age
False    32547
Name: age, dtype: int64

columna: workclass
False    32547
Name: workclass, dtype: int64

columna: representation-by-Census
False    32547
Name: representation-by-Census, dtype: int64

columna: education
False    32547
Name: education, dtype: int64

columna: education-num
False    32547
Name: education-num, dtype: int64

columna: marital-status
False    32547
Name: marital-status, dtype: int64

columna: occupation
False    32547
Name: occupation, dtype: int64

columna: relationship
False    32547
Name: relationship, dtype: int64

columna: race
False    32547
Name: race, dtype: int64

columna: sex
False    32547
Name: sex, dtype: int64

columna: capital-gain
False    32547
Name: capital-gain, dtype: int64

columna: capital-loss
False    32547
Name: capital-loss, dtype: int64

columna: hours-per-week
False    32547
Name: hours-per-week, dtype: int64

columna: native-country
False    32547
Name: native-country, dtype: int64

columna: valance
False    32547
Name: valance, dtype: int64

Se le asigna el tipo de dato correspondiente a cada columna.

In [246]:
df['hours-per-week']=df['hours-per-week'].astype("int64")
df['representation-by-Census']=df['representation-by-Census'].astype("int64")
df['workclass']=df['workclass'].astype("str")
df['education']=df['education'].astype("str")
df['marital-status']=df['marital-status'].astype("str")
df['occupation']=df['occupation'].astype("str")
df['relationship']=df['relationship'].astype("str")
df["representation-by-Census"]=df["representation-by-Census"].astype("int64")

Para verificar que todos los tipos de datos son correctos ejecutamos la funcion df.info()

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32547 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       32547 non-null  float64
 1   workclass                 32547 non-null  object
 2   representation-by-Census  32547 non-null  int64
 3   education                 32547 non-null  object
 4   education-num             32547 non-null  int64
 5   marital-status            32547 non-null  object
 6   occupation                32547 non-null  object
 7   relationship              32547 non-null  object
 8   race                      32547 non-null  object
 9   sex                       32547 non-null  object
 10  capital-gain              32547 non-null  int64
 11  capital-loss              32547 non-null  int64
 12  hours-per-week            32547 non-null  int64
 13  native-country            32547 non-null  object
 14  valance                   32547 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 4.0+ MB

## Estandarizar datos de entrada.
Como grupo llegamos a la conclusion de que no necesitabamos estandarizar datos ya que las variables representativas de nuestra base de datos son muy similares a las del senso en chile.

## Normalizacion de datos
Para esta parte modificamos la columna representation by census para dejarlo normalizando a un valor de 0 a 1.

In [248]:
df['representation-by-Census'] = df['representation-by-Census']/df['representation-by-Census'].max()

df['representation-by-Census'].unique()

array([0.0522097 , 0.05611283, 0.14524502, ..., 0.02294463, 0.0570221 ,
       0.17330177])

Creamos una lista con los 3 tipos de datos basica, media y superior, luego creamos el contenedor que guardara los 3 rangos para posteriormente asignarlos al dataframe.

In [250]:
niveles_educativos = ['Basica', 'Media', 'Superior']

contenedores = np.linspace(min(df["education-num"]), max(df["education-num"]), 4)
contenedores

array([ 1.,  6., 11., 16.])

creamos la nueva columna con el nombre de education-num-binned asignandole los datos necesarios, luego imprimimos el df para confirmar la creacion de la columna.

In [251]:
df['education-num-binned'] = pd.cut(df['education-num'], contenedores, labels=niveles_educativos, include_lowest=True )
df[['education-num','education-num-binned']].head(50)

df

,age,workclass,representation-by-Census,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,valance,education-num-binned
0,39.0,State-gov,0.052210,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Superior
1,50.0,Self-emp-not-inc,0.056113,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Superior
2,38.0,Private,0.145245,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Media
3,53.0,Private,0.158093,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Media
4,28.0,Private,0.227930,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Superior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27.0,Private,0.173302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,Superior
32557,40.0,Private,0.103976,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,Media
32558,58.0,Private,0.102317,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,Media
32559,22.0,Private,0.135710,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,Media
32560,52.0,Self-emp-inc,0.193929,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,Media

## Variable indicadora

creamos una variable dummy y le asignamos pg.get_dummies de la columna valance, Luego le concatenamos a el df la variable dummy en sus columnas.

In [252]:
variable_dummy_1 = pd.get_dummies(df["valance"])
df = pd.concat([df, variable_dummy_1], axis=1)

Borramos la columna valance ya que tenemos las resultantes de la transformacion a dummy en el dataframe, luego imprimimos los 10 primeros datos para confirmar.

In [253]:
df.drop("valance", axis = 1, inplace=True)
df.head(10)

,age,workclass,representation-by-Census,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,education-num-binned,<=50K,>50K
0,39.0,State-gov,0.052210,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,Superior,1,0
1,50.0,Self-emp-not-inc,0.056113,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,Superior,1,0
2,38.0,Private,0.145245,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,Media,1,0
3,53.0,Private,0.158093,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,Media,1,0
4,28.0,Private,0.227930,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,Superior,1,0
5,37.0,Private,0.191676,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,Superior,1,0
6,49.0,Private,0.107891,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,Basica,1,0
7,52.0,Self-emp-not-inc,0.141201,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,Media,0,1
8,31.0,Private,0.030835,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,Superior,0,1
9,42.0,Private,0.107394,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,Superior,0,1

## Guardamos el archivo CSV
Finalmente guardamos nuestro dataframe en una carpeta de salida con el nombre de df_procesado.csv con la funcion to_csv de pandas.

In [254]:
df.to_csv('output/df_procesado.csv')