# TAREA 3 MODELOS PREDICTIVOS CON PYTHON

## Introducci√≥n

Para esta tarea realizaremos analisis de prediccion sobre una variable de valor, el objetivo general es ajustar un modelo de variables significativas que nos ayuden a predecir en un porcentaje de certeza alto el valor de la variable de valor.

**Nota**: para la realizacion de la tarea 4 utilizaremos las siguientes librerias **numpy**, **pandas**, **seaborn**, **matplotlib**, **openpyxl**, **sklearn**.

***

## importamos las librerias en python

In [8]:
%matplotlib inline

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import openpyxl as xl

## leemos la base de datos que previamente preparamos.

In [9]:
# ruta de datos
path = '../dataframe/GPU_benchmarks_v7.csv'
df = pd.read_csv(path)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 41, saw 2

## Usamos las funciones head tail info y describe para tener una idea general de los datos.

In [4]:
df.head()

,Unnamed: 0,age,workclass,representation-by-Census,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,education-num-binned,<=50K,>50K
0,0,39.0,State-gov,0.052210,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,Superior,1,0
1,1,50.0,Self-emp-not-inc,0.056113,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,Superior,1,0
2,2,38.0,Private,0.145245,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,Media,1,0
3,3,53.0,Private,0.158093,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,Media,1,0
4,4,28.0,Private,0.227930,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,Superior,1,0

In [5]:
df.corr().sort_values(by='>50K')['>50K']

<=50K                      -1.000000
representation-by-Census   -0.009345
Unnamed: 0                  0.005562
capital-loss                0.150596
capital-gain                0.223411
hours-per-week              0.229686
age                         0.233921
education-num               0.335256
>50K                        1.000000
Name: >50K, dtype: float64

In [5]:
print(df.head())
print(df.tail())
print(df.info())
print(df.describe())

   Unnamed: 0   age         workclass  representation-by-Census  education  \
0           0  39.0         State-gov                  0.052210  Bachelors
1           1  50.0  Self-emp-not-inc                  0.056113  Bachelors
2           2  38.0           Private                  0.145245    HS-grad
3           3  53.0           Private                  0.158093       11th
4           4  28.0           Private                  0.227930  Bachelors

   education-num      marital-status         occupation   relationship   race  \
0             13       Never-married       Adm-clerical  Not-in-family  White
1             13  Married-civ-spouse    Exec-managerial        Husband  White
2              9            Divorced  Handlers-cleaners  Not-in-family  White
3              7  Married-civ-spouse  Handlers-cleaners        Husband  Black
4             13  Married-civ-spouse     Prof-specialty           Wife  Black

      sex  capital-gain  capital-loss  hours-per-week native-country  \
0    Male          2174             0              40  United-States
1    Male             0             0              13  United-States
2    Male             0             0              40  United-States
3    Male             0             0              40  United-States
4  Female             0             0              40           Cuba

  education-num-binned  <=50K  >50K
0             Superior      1     0
1             Superior      1     0
2                Media      1     0
3                Media      1     0
4             Superior      1     0
       Unnamed: 0   age     workclass  representation-by-Census   education  \
32542       32556  27.0       Private                  0.173302  Assoc-acdm
32543       32557  40.0       Private                  0.103976     HS-grad
32544       32558  58.0       Private                  0.102317     HS-grad
32545       32559  22.0       Private                  0.135710     HS-grad
32546       32560  52.0  Self-emp-inc                  0.193929     HS-grad

       education-num      marital-status         occupation relationship  \
32542             12  Married-civ-spouse       Tech-support         Wife
32543              9  Married-civ-spouse  Machine-op-inspct      Husband
32544              9             Widowed       Adm-clerical    Unmarried
32545              9       Never-married       Adm-clerical    Own-child
32546              9  Married-civ-spouse    Exec-managerial         Wife

        race     sex  capital-gain  capital-loss  hours-per-week  \
32542  White  Female             0             0              38
32543  White    Male             0             0              40
32544  White  Female             0             0              40
32545  White    Male             0             0              20
32546  White  Female         15024             0              40

      native-country education-num-binned  <=50K  >50K
32542  United-States             Superior      1     0
32543  United-States                Media      0     1
32544  United-States                Media      1     0
32545  United-States                Media      1     0
32546  United-States                Media      0     1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32547 entries, 0 to 32546
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                32547 non-null  int64
 1   age                       32547 non-null  float64
 2   workclass                 32547 non-null  object
 3   representation-by-Census  32547 non-null  float64
 4   education                 32547 non-null  object
 5   education-num             32547 non-null  int64
 6   marital-status            32547 non-null  object
 7   occupation                32547 non-null  object
 8   relationship              32547 non-null  object
 9   race                      32547 non-null  object
 10  sex                       32547 non-null  object
 11  capital-gain              32547 non-null  int64
 12  capital-loss              32547 non-null  int64
 13  hours-per-week            32547 non-null  int64
 14  native-country            32547 non-null  object
 15  education-num-binned      32547 non-null  object
 16  <=50K                     32547 non-null  int64
 17  >50K                      32547 non-null  int64
dtypes: float64(2), int64(7), object(9)
memory usage: 4.5+ MB
None
         Unnamed: 0           age  representation-by-Census  education-num  \
count  32547.000000  32547.000000              32547.000000   32547.000000
mean   16285.115034     38.581129                  0.127820      10.080868
std     9398.472313     13.641102                  0.071100       2.572785
min        0.000000     17.000000                  0.008274       1.000000
25%     8150.500000     28.000000                  0.079352       9.000000
50%    16287.000000     37.000000                  0.120127      10.000000
75%    24423.500000     48.000000                  0.159660      12.000000
max    32560.000000     90.000000                  1.000000      16.000000

       capital-gain  capital-loss  hours-per-week         <=50K          >50K
count  32547.000000  32547.000000    32547.000000  32547.000000  32547.000000
mean    1078.112391     87.341383       40.436937      0.759240      0.240760
std     7386.846516    403.042809       12.349497      0.427551      0.427551
min        0.000000      0.000000        1.000000      0.000000      0.000000
25%        0.000000      0.000000       40.000000      1.000000      0.000000
50%        0.000000      0.000000       40.000000      1.000000      0.000000
75%        0.000000      0.000000       45.000000      1.000000      0.000000
max    99999.000000   4356.000000       99.000000      1.000000      1.000000